@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Stardos+Stencil:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

li{
    list-style: none;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

body{
    font-family: 'Stardos Stencil', cursive;
    overflow-x: hidden;
}